

.otp-area{
  text-align: center;
  .otp{
    display: flex;
    justify-content: center;
  }
  .form-control{
    -webkit-transition: none;
    transition: none;
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 0;
    &:hover{
      color: rgb(7, 7, 7);
    }
    &:focus{
      color: rgb(8, 4, 243);
    }
  }
}